

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/ROBOTO-BOLD.TTF');
    font-weight: 600;
    font-style: normal;
  }

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/ROBOTO-MEDIUM.TTF');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/ROBOTO-REGULAR.TTF');
  font-weight: 400;
  font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/ROBOTO-LIGHT.TTF');
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: 'RobotoCond';
    src: url('../fonts/ROBOTOCONDENSED-BOLD.TTF');
    font-weight: 600;
    font-style: normal;
  }

  
  @font-face {
    font-family: 'RobotoCond';
    src: url('../fonts/ROBOTOCONDENSED-LIGHT.TTF');
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: 'Anton';
    src: url('../fonts/ANTON-REGULAR.TTF');
    font-style: normal;
  }

  
  