@import "reset.scss";
@import "variables.scss";
@import "fonts.scss";
@import "overall.scss";
@import "start.scss";
@import "overlay.scss";

body {
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
    user-select: none;
}

[v-cloak] { display:none; }