.wp-popup {

    &__settings {
        padding: 60px 42px 60px 39px;

        .wp-popup__content {
            background: #d8d8d8;
            // padding: 0;
            border: none;
            margin-top: 6px;
            &--title {
                font-size: 14px;
                  font-weight: 600;
            }
        }

        .wp-popup__buttons {
            justify-content: flex-start;

            button {
                margin: 0;
            }
        }



    }


}