.theme-1000-500-1 {
    .wp-popup__overlay-edit__desktop_text {
        &--1 {
            top: 10px;
            left: 10px;
            max-width: 120px;

            // @media screen and (max-width: 960px) {
            //     top: 30px;
            // }

            .wp-popup__overlay-edit__desktop_text--field {
                overflow: hidden;
                background: #fff;
                font-weight: 600;
                font-size: 22px;
          
                color: #000;
                max-height: 52px;
                min-width: 80px;
                min-height: 40px;
                line-height: 1.2em;

                // display: flex;
                // align-items: center;

                // max-width: 100%;
                p {
                    padding: 0px 10px;
                    // font-size: 16px;
                }
            }
        }

        &--2 {
            top: 68px;
            right: 10px;
            width: 85%;
            height: 73px;
            padding: 4px 10px;

            @media screen and (max-width: 960px) {
                top: 20px;
                height: 70px;
                width: 70%;
            }

            .wp-popup__overlay-edit__desktop_text--field {
                font-weight: 600;
                font-size: 48px;
                line-height: 1.1em;
                overflow: hidden;
                color: #fff;

                p {
                    // font-size: 32px;
                }
            }
        }

        &--3 {
            top: 155px;
            right: 10px;
            width: 40%;
            // background: #fff;
            height: 123px;
            padding: 6px 20px;
            box-shadow: 0 0 5px -3px #000;

            @media screen and (max-width: 960px) {
                top: 105px;
            }

            .wp-popup__overlay-edit__desktop_text--field {
                font-size: 24px;
                overflow: hidden;
                color: #fff;
                text-align: right;

                p {
                    // font-size: 14px;
                }
            }
        }

        &--4 {
            top: 290px;
            bottom: 10px;
            right: 10px;
            width: 240px;
            padding: 5px;
            // height: 40px;
            // padding: 2px 10px;
       

            @media screen and (max-width: 960px) {
                top: 245px;
            }

            .wp-popup__overlay-edit__desktop_text--field {
             
                font-size: 20px;
                overflow: hidden;
                color: #000;
                line-height: 1.3em;
                text-align: center;

                p {
                    background: #fff;
                    padding: 8px;
                    padding-top: 6px;
                    font-size: 24px;
                }
            }
        }

        &--5 {
            top: 292px;
            left: 70px;
            width: 190px;
            padding: 5px;
            height: 35px;
            padding: 2px 10px;

            @media screen and (max-width: 960px) {
                top: 205px;
            }

            .wp-popup__overlay-edit__desktop_text--field {
                font-size: 16px;
                overflow: hidden;
                line-height: 1.4em;
                color: #fff;
                text-align: center;

                p {
                    // font-size: 16px;
                }
            }
        }
    }

    .wp-popup__overlay-edit__mobile_text {
        &--1 {
            top: 10px;
            left: 8px;
            background: #fff;
            max-width: 80px;
            overflow: hidden;
            max-height: 35px;

            @media screen and (max-width: 960px) {
                max-width: 75px;
                max-height: 30px;
            }

            .wp-popup__overlay-edit__mobile_text--field {

                font-size: 14px;
                color: #000;
                line-height: 1.1em;

                @media screen and (max-width: 960px) {
                    font-size: 12px;
                }

                p {
                    padding: 3px 5px 5px 5px;
                    // font-size: 14px;

                    @media screen and (max-width: 960px) {
                        padding: 3px;
                    }
                }
            }
        }

        &--2 {
            top: 70px;
            width: 100%;
            right: auto;
            max-height: 60px;
            overflow: hidden;

            @media screen and (max-width: 960px) {
                top: 50px;
            }

            .wp-popup__overlay-edit__mobile_text--field {
                padding: 5px;
                line-height: 1em;
                font-size: 24px;
                color: #fff;
                text-align: right;

                @media screen and (max-width: 960px) {
                    padding: 3px;
                    font-size: 18px;
                }
            }
        }

        &--3 {
            top: 180px;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 60px;
            overflow: hidden;

            @media screen and (max-width: 960px) {
                top: 110px;
                height: 50px;
            }

            .wp-popup__overlay-edit__mobile_text--field {
                font-size: 12px;
                text-align: center;
                color: #fff;
                @media screen and (max-width: 960px) {
                    font-size: 11px;
                }
            }
        }

        &--4 {
            top: 260px;
            bottom: 0;
            left: 0;
            right: 0;
            width: 70%;
            height: 30px;

            margin: auto;
            overflow: hidden;

            @media screen and (max-width: 960px) {
                top: 160px;
            }

            .wp-popup__overlay-edit__mobile_text--field {
                font-size: 12px;
                text-align: center;
                color: #000;
                line-height: 1em;

                p {
                    background: #fff;
                }
            }
        }

        &--5 {
            display: none;
        }
    }
}

.theme-1000-500-2 {
    .wp-popup__overlay-edit__desktop_text {
        &--1 {
            top: 10px;
            left: 10px;
            max-width: 120px;


            // @media screen and (max-width: 960px) {
            //     top: 30px;
            // }

            .wp-popup__overlay-edit__desktop_text--field {
                overflow: hidden;
                background: #fff;
                font-weight: 600;
                font-size: 22px;
            
                color: #000;
                max-height: 52px;
                min-width: 80px;
                min-height: 40px;
                line-height: 1.2em;

                // display: flex;
                // align-items: center;

                // max-width: 100%;
                p {
                    padding: 0px 10px;
                    // font-size: 16px;
                }
            }
        }

        &--2 {
            top: 10px;
            right: 10px;
            width: 75%;
            height: 84px;
            padding: 4px 10px;

            @media screen and (max-width: 960px) {
                width: 70%;
            }

            .wp-popup__overlay-edit__desktop_text--field {
                font-weight: 600;
                font-size: 32px;
                line-height: 1.1em;
                overflow: hidden;
                color: #fff;

                p {

                    font-size: 32px;
                }
            }
        }

        &--3 {
            top: 110px;
            right: 10px;
            width: 76%;
            // background: #fff;
            height: 60px;
            padding: 6px 20px;
            // box-shadow: 0 0 5px -3px #000;
            // @media screen and (max-width: 960px) {
            //     top: 110px;
            // }

            @media screen and (max-width: 960px) {
                width: 70%;
            }


            .wp-popup__overlay-edit__desktop_text--field {
                font-size: 14px;
                overflow: hidden;
                color: #fff;

                p {

                    font-size: 14px;
                }
            }
        }

        &--4 {
            top: 285px;
            right: 0px;
            left: 0;
            margin: auto;
            width: 280px;
            padding: 5px;
            height: 53px;
            // padding: 2px 5px;
      

            @media screen and (max-width: 960px) {
                top: 248px;
                height: 46px;
            }

            .wp-popup__overlay-edit__desktop_text--field {
                font-size: 28px;
                overflow: hidden;
                color: #000;
                line-height: 1.2em;
                text-align: center;
                font-size: 28px;
                @media screen and (max-width: 960px) {
                    font-size: 22px;
                }

                p {
                    padding: 5px 8px 8px 8px;
                    background: #fff;
           
                }
            }
        }

        &--5 {
            display: none;
        }
    }

    .wp-popup__overlay-edit__mobile_text {
        &--1 {
            top: 10px;
            left: 8px;
            background: #fff;
            max-width: 80px;
            overflow: hidden;
            max-height: 35px;

            @media screen and (max-width: 960px) {
                max-width: 75px;
                max-height: 30px;
            }

            .wp-popup__overlay-edit__mobile_text--field {

                font-size: 14px;
                color: #000;
                line-height: 1.1em;

                @media screen and (max-width: 960px) {
                    font-size: 12px;
                }

                p {
                    padding: 3px 5px 5px 5px;
                    // font-size: 14px;

                    @media screen and (max-width: 960px) {
                        padding: 3px;
                    }
                }
            }
        }

        &--2 {
            top: 50px;
            width: 100%;
            right: auto;
            max-height: 63px;
            overflow: hidden;
            .wp-popup__overlay-edit__mobile_text--field {
                padding: 5px;
                line-height: 1em;
                font-size: 18px;
                color: #fff;

                @media screen and (max-width: 960px) {
                    padding: 3px;
                    // font-size: 20px;
                }
            }
        }

        &--3 {
            top: 200px;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 60px;
            overflow: hidden;

            @media screen and (max-width: 960px) {
                top: 110px;
                height: 50px;
            }

            .wp-popup__overlay-edit__mobile_text--field {
                font-size: 12px;
                text-align: center;
                color: #fff;
                @media screen and (max-width: 960px) {
                    font-size: 11px;
                }
            }
        }

        &--4 {
            top: 260px;
            bottom: 0;
            left: 0;
            right: 0;
            width: 70%;
            height: 30px;

            margin: auto;
            overflow: hidden;

            @media screen and (max-width: 960px) {
                top: 160px;
            }

            .wp-popup__overlay-edit__mobile_text--field {
                font-size: 16px;
                text-align: center;
                color: #000;
                line-height: 1.4em;

                p {
                    background: #fff;
                }
            }
        }
        &--5 {
            display: none;
        }
    }
}

.theme-960-400-1 {
    .wp-popup__overlay-edit__desktop_text {
        &--1 {
            top: 15px;
            left: 30px;
            max-width: 45%;

            // @media screen and (max-width: 960px) {
            //     top: 30px;
            // }

            .wp-popup__overlay-edit__desktop_text--field {
                overflow: hidden;
                background: #fff;
                font-weight: 600;
                font-size: 16px;
                padding: 4px 20px;
                color: #000;
                max-height: 100px;
                min-width: 100px;
                min-height: 40px;
                // min-height: 60px;

                // max-width: 100%;
                p {

                    font-size: 16px;
                }
            }
        }

        &--2 {
            top: 15px;
            right: 10px;
            width: 55%;
            height: 70px;
            padding: 4px 10px;

            // @media screen and (max-width: 960px) {
            //     top: 20px;
            //     height: 70px;
            // }

            .wp-popup__overlay-edit__desktop_text--field {
                font-weight: 600;
                font-size: 32px;
                line-height: 1.1em;
                overflow: hidden;
                color: #000;

                p {

                    font-size: 32px;
                }
            }
        }

        &--3 {
            top: 125px;
            right: 10px;
            width: 40%;
            // background: #fff;
            height: 100px;
            padding: 6px 20px;
            // box-shadow: 0 0 5px -3px #000;
            // @media screen and (max-width: 960px) {
            //     top: 110px;
            // }

            .wp-popup__overlay-edit__desktop_text--field {
                font-size: 14px;
                overflow: hidden;
                color: #000;

                p {

                    font-size: 14px;
                }
            }
        }

        &--4 {
            top: 280px;
            right: 80px;
            width: 280px;
            padding: 5px;
            // height: 40px;
            padding: 2px 5px;

            @media screen and (max-width: 960px) {
                top: 235px;
            }

            .wp-popup__overlay-edit__desktop_text--field {
                font-size: 28px;
                overflow: hidden;
                color: #000;

                p {

                    font-size: 28px;
                }
            }
        }

        &--5 {
            display: none;
        }
    }

    .wp-popup__overlay-edit__mobile_text {
        &--1 {
            top: 14px;
            left: 0px;
            right: 0;
            margin: auto;
            width: 70px;

            @media screen and (max-width: 960px) {
                top: 8px;
            }

            .wp-popup__overlay-edit__mobile_text--field {
                // padding: 3px;
                font-size: 14px;
                background: #fff;

                // @media screen and (max-width: 960px) {
                //     min-width: 100px;
                //     min-height: 20px;
                //     padding: 2px 4px;
                // }

                p {
                    font-size: 14px;

                    @media screen and (max-width: 960px) {
                        padding: 3px;
                    }
                }
            }
        }

        &--2 {
            top: 55px;
            width: 100%;
            right: auto;

            .wp-popup__overlay-edit__mobile_text--field {
                padding: 5px;
                line-height: 0.9em;
                font-size: 26px;
            }
        }

        &--3 {
            top: 200px;
            left: 0;
            width: 100%;
            height: 70px;

            @media screen and (max-width: 960px) {
                top: 130px;
            }

            .wp-popup__overlay-edit__mobile_text--field {
                font-size: 12px;
                text-align: center;
                color: #fff;
            }
        }

        &--4 {

            bottom: 10px;
            left: 0;
            width: 75%;
            // height: 30px;
            right: 0;
            margin: auto;

            @media screen and (max-width: 960px) {
                bottom: 0;
            }

            .wp-popup__overlay-edit__mobile_text--field {
                font-size: 16px;
                text-align: center;
                line-height: 1.3em;

                color: #ec4263;

                p {
                    background: #fff;

                    @media screen and (max-width: 960px) {
                        padding: 3px;
                    }
                }
            }
        }

        &--5 {
            display: none;
        }
    }
}


.theme-960-400-2 {
    .wp-popup__overlay-edit__desktop_text {
        &--1 {
            top: 15px;
            left: 10px;
            max-width: 45%;

            // @media screen and (max-width: 960px) {
            //     top: 30px;
            // }

            .wp-popup__overlay-edit__desktop_text--field,
            .wp-popup__overlay-edit__mobile_text--field {
                overflow: hidden;
                background: #fff;
                font-weight: 600;
                font-size: 16px;
                padding: 0px 20px;
                color: #000;
                max-height: 35px;
                min-width: 100px;
                // min-height: 35px;

                // max-width: 100%;
                p {

                    font-size: 16px;
                }
            }
        }

        &--2 {
            top: 80px;
            left: 10px;
            width: 95%;
            height: 70px;
            // padding: 4px 10px;

            // @media screen and (max-width: 960px) {
            //     top: 20px;
            //     height: 70px;
            // }

            .wp-popup__overlay-edit__desktop_text--field,
            .wp-popup__overlay-edit__mobile_text--field {
                font-weight: 600;
                font-size: 32px;
                line-height: 1.1em;
                overflow: hidden;
                color: #fff;

                p {

                    font-size: 32px;
                }
            }
        }

        &--3 {
            top: 165px;
            left: 15px;
            width: 70%;
            // background: #fff;
            height: 80px;
            // padding: 6px 20px;
            // box-shadow: 0 0 5px -3px #000;
            // @media screen and (max-width: 960px) {
            //     top: 110px;
            // }

            .wp-popup__overlay-edit__desktop_text--field {
                font-size: 14px;
                overflow: hidden;
                color: #fff;

                p {

                    font-size: 14px;
                }
            }
        }

        &--4 {
            top: 280px;
            right: 15px;
            width: 280px;
            padding: 5px;
            // height: 40px;
            padding: 2px 10px;

            @media screen and (max-width: 960px) {
                top: 235px;
            }

            .wp-popup__overlay-edit__desktop_text--field {
                font-size: 28px;
                overflow: hidden;
                color: #fff;
                line-height: 1em;

                p {
                    background: #19c2e8;
                    color: #fff;
                    border-radius: 5px;
                    padding: 8px;
                    font-size: 28px;
                }
            }
        }

        &--5 {
            display: none;
        }
    }

    .wp-popup__overlay-edit__mobile_text {
        &--1 {
            top: 14px;
            right: 5px;

            @media screen and (max-width: 960px) {
                top: 8px;
            }

            .wp-popup__overlay-edit__mobile_text--field {
                // padding: 5px;
                font-size: 14px;
                background: #fff;

                @media screen and (max-width: 960px) {
                    min-width: 100px;
                    min-height: 20px;
                    padding: 0px 4px;
                }

                p {
                    font-size: 14px;

                    @media screen and (max-width: 960px) {
                        padding: 3px;
                    }
                }
            }
        }

        &--2 {
            top: 135px;
            width: 100%;
            right: auto;

            @media screen and (max-width: 960px) {
                top: 50px;
            }

            .wp-popup__overlay-edit__mobile_text--field {
                padding: 5px;
                line-height: 0.9em;
                font-size: 26px;
                color: #fff;

                @media screen and (max-width: 960px) {
                    padding: 3px;
                    font-size: 20px;
                }
            }
        }

        &--3 {
            top: 205px;
            left: 8px;
            width: 100%;
            height: 100px;

            @media screen and (max-width: 960px) {
                top: 100px;
            }

            .wp-popup__overlay-edit__mobile_text--field {
                font-size: 12px;
                // text-align: center;
                color: #fff;
            }
        }

        &--4 {
            bottom: 15px;
            left: 0;
            width: 75%;
            // height: 30px;
            right: 0;
            margin: auto;

            @media screen and (max-width: 960px) {
                bottom: 3px;
            }

            .wp-popup__overlay-edit__mobile_text--field {
                font-size: 16px;
                text-align: center;
                line-height: 1.3em;
                color: #fff;

                p {
                    background: #19c2e8;
                    color: #fff;
                    border-radius: 5px;

                    @media screen and (max-width: 960px) {
                        padding: 3px;
                    }
                }
            }
        }

        &--5 {
            display: none;
        }
    }
}


.theme-1120-600-1 {
    .wp-popup__overlay-edit__desktop--upload {
        bottom: 6px;
        left: 5px;
    }

    &.wp-popup__overlay-edit__desktop--image {
        &:after {
            content: '';
            position: absolute;
            top: 8px;
            left: 8px;
            width: calc(100% - 20px);
            height: calc(100% - 20px);
            border: 2px solid #585858;
            pointer-events: none;
        }
    }

    .wp-popup__overlay-edit__desktop_text {
        &--1 {
            top: 40px;
            left: 10px;
            max-width: 45%;

            @media screen and (max-width: 960px) {
                top: 30px;
            }

            .wp-popup__overlay-edit__desktop_text--field,
            .wp-popup__overlay-edit__mobile_text--field {
                overflow: hidden;
                background: red;
                font-weight: 600;
                font-size: 16px;
                padding: 0px 20px;
                color: #fff;
                max-height: 80px;
                min-width: 150px;
                // min-height: 30px;

                // max-width: 100%;
                p {

                    font-size: 16px;
                }
            }
        }

        &--2 {
            top: 30px;
            right: 20px;
            width: 45%;
            height: 100px;
            padding: 4px 10px;

            @media screen and (max-width: 960px) {
                top: 20px;
                height: 70px;
            }

            .wp-popup__overlay-edit__desktop_text--field {
                font-weight: 600;
                font-size: 32px;
                line-height: 1.1em;
                overflow: hidden;

                p {

                    font-size: 32px;
                }
            }
        }

        &--3 {
            top: 160px;
            right: 10px;
            width: 49%;
            background: #fff;
            height: 77px;
            padding: 6px 20px;
            box-shadow: 0 0 5px -3px #000;

            @media screen and (max-width: 960px) {
                top: 110px;
            }

            .wp-popup__overlay-edit__desktop_text--field {
                font-size: 14px;
                overflow: hidden;

                p {

                    font-size: 14px;
                }
            }
        }

        &--4 {
            top: 270px;
            right: 30px;
            width: 240px;
            // padding: 5px;
            // height: 40px;
            // padding: 2px 10px;
            background: #f7941d;
            border-radius: 5px;

            @media screen and (max-width: 960px) {
                top: 205px;
            }

            .wp-popup__overlay-edit__desktop_text--field,
            .wp-popup__overlay-edit__mobile_text--field {
                font-size: 28px;
                overflow: hidden;
                line-height: 1.2em;

                p {
                    padding: 8px;
                    font-size: 28px;
                }
            }
        }

        &--5 {
            display: none;
        }
    }

    .wp-popup__overlay-edit__mobile_text {
        &--1 {
            top: 14px;
            left: 5px;

            @media screen and (max-width: 960px) {
                top: 10px;
            }

            .wp-popup__overlay-edit__mobile_text--field {
                font-size: 14px;
                background: red;
                color: #fff;
                // @media screen and (max-width: 960px) {
                //     min-width: 100px;
                //     min-height: 20px;
                //     padding: 2px 4px;
                // }

                p {
                    font-size: 14px;

                    @media screen and (max-width: 960px) {
                        padding: 3px;
                    }
                }
            }
        }

        &--2 {
            top: 120px;
            width: 100%;
            right: auto;

            @media screen and (max-width: 960px) {
                top: 40px;
            }

            .wp-popup__overlay-edit__mobile_text--field {
                padding: 5px;
                line-height: 0.9em;
                font-size: 26px;

                @media screen and (max-width: 960px) {
                    padding: 3px;
                    font-size: 20px;
                }
            }
        }

        &--3 {
            top: auto;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100px;

            @media screen and (max-width: 960px) {
                height: auto;
                top: 135px;
                // display: none;
            }

            .wp-popup__overlay-edit__mobile_text--field {
                font-size: 12px;
                text-align: center;
            }
        }

        &--4 {
            bottom: 15px;
            left: 0;
            width: 75%;
            height: 30px;
            right: 0;
            margin: auto;

            @media screen and (max-width: 960px) {
                bottom: 3px;
            }

            .wp-popup__overlay-edit__mobile_text--field {
                font-size: 16px;
                text-align: center;
                line-height: 1.3em;
                color: #000;

                p {
                    background: #f7941d;
                    border-radius: 5px;

                    @media screen and (max-width: 960px) {
                        padding: 3px;
                    }
                }

            }
        }
        &--5 {
            display: none;
        }
    }
}

.theme-1120-600-2 {
    .wp-popup__overlay-edit__desktop--upload {
        bottom: 70px;
        left: 0;

        @media screen and (max-width: 960px) {
            // bottom: 0;
            // left: 0;
        }
    }

    .wp-popup__overlay-edit__desktop_text {
        &--1 {
            top: 40px;
            left: 10px;
            max-width: 45%;

            @media screen and (max-width: 960px) {
                top: 30px;
            }

            .wp-popup__overlay-edit__desktop_text--field {
                overflow: hidden;
                background: red;
                font-weight: 600;
                font-size: 16px;
           
                color: #fff;
                max-height: 80px;
                min-width: 150px;
                // min-height: 30px;

                // max-width: 100%;
                p {
                    padding: 4px 20px;
                    font-size: 16px;
                }
            }
        }

        &--2 {
            top: 20px;
            right: 20px;
            width: 22%;
            height: 100px;
            padding: 4px 10px;

            @media screen and (max-width: 960px) {
                top: 20px;
                height: 70px;
            }

            .wp-popup__overlay-edit__desktop_text--field {
                font-weight: 600;
                font-size: 32px;
                line-height: 1.1em;
                overflow: hidden;

                p {

                    font-size: 32px;
                }
            }
        }

        &--3 {
            top: 140px;
            right: 20px;
            width: 27%;
            // background: #fff;
            height: 100px;
            padding: 6px 0;
            // box-shadow: 0 0 5px -3px #000;

            @media screen and (max-width: 960px) {
                top: 110px;
            }

            .wp-popup__overlay-edit__desktop_text--field {
                font-size: 14px;
                overflow: hidden;

                p {

                    font-size: 14px;
                }
            }
        }

        &--4 {
            top: 292px;
            right: 20px;
            width: 282px;
            padding: 5px;
            // height: 35px;
            padding: 0px 10px;

            @media screen and (max-width: 960px) {
                top: 245px;
            }

            .wp-popup__overlay-edit__desktop_text--field {
                font-size: 20px;
                overflow: hidden;
                line-height: 1.3em;
                color: #fff;

                p {
                    background: #000;
                    border-radius: 5px;
                    padding: 5px 20px;
                    font-size: 20px;
                }
            }
        }

        &--5 {
            top: 292px;
            left: 20px;
            width: 190px;
            padding: 5px;
            // height: 35px;
            padding: 0px 10px;
            // background: #f7941d;
            // border-radius: 5px;
            &:after { 
                min-height: 35px;
            }
            @media screen and (max-width: 960px) {
                top: 250px;
            }

            .wp-popup__overlay-edit__desktop_text--field,
            .wp-popup__overlay-edit__mobile_text--field {
                font-size: 18px;
                overflow: hidden;
                line-height: 1.4em;
                color: #fff;

                p {

                    font-size: 18px;
                }
            }
        }
    }

    .wp-popup__overlay-edit__mobile_text {
        &--1 {
            top: 5px;
            left: 0;
            right: 0;
            margin: auto;
            width: 140px;

            .wp-popup__overlay-edit__mobile_text--field {
                padding: 5px;
                font-size: 14px;

                @media screen and (max-width: 960px) {
                    min-width: 100px;
                    min-height: 20px;
                    padding: 2px 4px;
                }

                p {
                    background: #fff;
                    font-size: 14px;
                }
            }
        }

        &--2 {
            top: 170px;
            width: 100%;
            right: auto;

            @media screen and (max-width: 960px) {
                top: 115px;
            }

            .wp-popup__overlay-edit__mobile_text--field {
                padding: 5px;
                line-height: 0.9em;
                font-size: 26px;

                @media screen and (max-width: 960px) {
                    padding: 3px;
                    font-size: 20px;
                }
            }
        }

        &--3 {
            top: 220px;
            bottom: 0;
            left: 5px;
            width: 100%;
            height: 100px;

            @media screen and (max-width: 960px) {
                top: 135px;
            }

            .wp-popup__overlay-edit__mobile_text--field {
                font-size: 12px;
                text-align: center;
            }
        }

        &--4 {
            bottom: 10px;
            left: 0;
            width: 75%;
            height: 30px;
            right: 0;
            margin: auto;

            @media screen and (max-width: 960px) {
                bottom: 3px;
            }

            .wp-popup__overlay-edit__mobile_text--field {
                font-size: 16px;
                text-align: center;
                line-height: 1.3em;

                color: #fff;

                p {
                    background: #000;
                    border-radius: 5px;

                    @media screen and (max-width: 960px) {
                        padding: 3px;
                    }
                }

            }
        }

        &--5 {
            top: 50px;
            right: 0;
            // width: 100px;
            height: 100px;

            .wp-popup__overlay-edit__mobile_text--field {
                font-size: 12px;
                text-align: center;
                color: #fff;

                p {
                    background: red;
                }
            }
        }
    }
}