<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Popup plugin</title>
    <link rel="stylesheet" href="public/main.css" />
    <!-- Fix for iOS Safari zooming bug -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800" rel="stylesheet">
</head>

<body>
    <div class="wp-popup__container wp-popup__my-overlays" id="my-overlays-app" v-cloak>
        <div class="wp-popup__notification wp-popup__notification--success" v-if="newOverlay">
            New overlay is created
            <div class="wp-popup__notification--close" @click="removeNotification($event)"></div>
        </div>
        <h3 class="wp-popup__title">
            My Overlays
        </h3>
        <div class="wp-popup__annotataion" v-if="!newOverlay">You can always change the design, content and settings created by the overlay</div>
        <div class="wp-popup__annotataion" v-if="newOverlay">You just create new overlay (with tag <span>#new</span>)</div>
        <div class="wp-popup__content wp-popup__content--empty">
            <div class="wp-popup__table wp-popup__table_col--4">
                <div class="wp-popup__table_head">
                    <div class="wp-popup__table_head--row">
                        <div class="wp-popup__table_head--col">Overlay’s name</div>
                        <div class="wp-popup__table_head--col">Status</div>
                        <div class="wp-popup__table_head--col">Display</div>
                        <div class="wp-popup__table_head--col">Action</div>
                    </div>
                </div>
                <div class="wp-popup__table_body">
                    <div class="wp-popup__table_body">
                        <div class="wp-popup__table_body--row" v-for="(overlay, index) in overlays">
                            <div class="wp-popup__table_body--col">
                                {{overlay.title}}
                            </div>
                            <div class="wp-popup__table_body--col">
                                <a href="" @click.stop.prevent="openModal(overlay)" class="wp-popup__link wp-popup__link--grey  wp-popup__link--underline">Preview</a>
                                <label class="wp-popup__checkbox">
                                    <input type="checkbox">
                                    <div class="wp-popup__checkbox--icon"></div>
                                    <div class="wp-popup__checkbox--text">On</div>
                                </label>
                            </div>
                            <div class="wp-popup__table_body--col">
                                displayed on 2 page/post
                            </div>
                            <div class="wp-popup__table_body--col">
                                <button class="wp-popup__btn wp-popup__btn--light-grey">Edit</button>
                                <a href="" @click.prevent="removeOverlay(overlay, index)" class="wp-popup__link wp-popup__link--grey wp-popup__link--underline">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="overlay.html" class="wp-popup__link">Create new overlay</a>
        </div>
        <div class="wp-popup__modal" v-if="showModal">
            <div class="wp-popup__modal_content" ref="modal">
                <div @click="closeModal()" class="wp-popup__modal--close"></div>
                <div class="wp-popup__modal--title">Preview overlay</div>
                <div class="wp-popup__content wp-popup__overlay-edit">
                    <div class="wp-popup__overlay-edit__desktop">
                        <div class="wp-popup__overlay-edit__desktop--resolution">1200_600_desktop ver.</div>
                        <div class="wp-popup__overlay-edit__desktop--image">
                            <img :src="modalData.img" alt="">
                            <div class="wp-popup__overlay-edit__desktop_text wp-popup__overlay-edit__desktop_text--1 inactive filled">
                                <div class="wp-popup__overlay-edit__desktop_text--field" v-html="modalData.text1"></div>
                            </div>
                            <div class="wp-popup__overlay-edit__desktop_text wp-popup__overlay-edit__desktop_text--2 inactive filled">
                                <div class="wp-popup__overlay-edit__desktop_text--field" v-html="modalData.text2"></div>
                            </div>
                            <div class="wp-popup__overlay-edit__desktop_text wp-popup__overlay-edit__desktop_text--3 inactive filled">
                                <div class="wp-popup__overlay-edit__desktop_text--field" v-html="modalData.text3"></div>
                            </div>
                            <div class="wp-popup__overlay-edit__desktop_text wp-popup__overlay-edit__desktop_text--4 inactive filled">
                                <div class="wp-popup__overlay-edit__desktop_text--field" v-html="modalData.text4"></div>
                            </div>
                        </div>
                    </div>
                    <div class="wp-popup__overlay-edit__mobile">
                        <div class="wp-popup__overlay-edit__desktop--resolution">1200_600_mobile ver.</div>
                        <div class="wp-popup__overlay-edit__mobile--image">
                            <img :src="modalData.img" alt="">
                            <div class="wp-popup__overlay-edit__mobile_text wp-popup__overlay-edit__mobile_text--1 filled inactive">
                                <div class="wp-popup__overlay-edit__mobile_text--field" v-html="modalData.text1"></div>
                            </div>
                            <div class="wp-popup__overlay-edit__mobile_text wp-popup__overlay-edit__mobile_text--2 filled inactive">
                                <div class="wp-popup__overlay-edit__mobile_text--field" v-html="modalData.text2"></div>
                            </div>
                            <div class="wp-popup__overlay-edit__mobile_text wp-popup__overlay-edit__mobile_text--3 filled inactive">
                                <div class="wp-popup__overlay-edit__mobile_text--field" v-html="modalData.text3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    var OVERLAY_DATA = [
        { title: 'Overlay_test_one_1223', img: 'img/medicine.jpg', text1: 'example', text2: 'example', text3: 'example', text4: 'example' }, 
        { title: 'Overlay_test_one_1224', img: 'img/medicine.jpg', text1: 'example', text2: 'example', text3: 'example', text4: 'example'  }, 
        { title: 'Overlay_test_one_1225', img: 'img/medicine.jpg', text1: 'example', text2: 'example', text3: 'example', text4: 'example' }
    ];
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="src/my-overlays.js"></script>
</body>

</html>