<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Popup plugin</title>
    <link rel="stylesheet" href="public/main.css" />
    <!-- Fix for iOS Safari zooming bug -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800" rel="stylesheet">
</head>

<body>
    <div class="wp-popup__container wp-popup__overlay" id="overlay-app" v-cloak>
        <div class="wp-popup__notification wp-popup__notification--error" v-if="selectOverlayError && (step === 0 || step === 1)">
            Selected any overlay for your future advertising campain. Default will create the first overlay from the list
            <div class="wp-popup__notification--close" @click="removeNotification($event)"></div>
        </div>
        <div class="wp-popup__notification wp-popup__notification--success" v-if="!overlayTextFilled && !overlayContentError && (step === 2)">
            click on overlay and change content (text and images)
            <div class="wp-popup__notification--close" @click="removeNotification($event)"></div>
        </div>
        <div class="wp-popup__notification wp-popup__notification--error" v-if="overlayContentError && (step === 2)">
            You need change content on overlay
            <div class="wp-popup__notification--close" @click="removeNotification($event)"></div>
        </div>
        <div class="wp-popup__notification wp-popup__notification--success" v-if="step === 4">
            Create custom rules for the new overlay
            <div class="wp-popup__notification--close" @click="removeNotification($event)"></div>
        </div>
        <div class="wp-popup__top-panel">
            <h3 class="wp-popup__title">
                <span v-if="step < 5">Create Overlay POP-up <span v-if="step >= 2" class="wp-popup__title--project-name">/{{overlayName}}</span> </span>
                <span v-if="step === 5">Overlay <span>“{{overlayName}}”</span> created</span>
            </h3>
            <div class="wp-popup__progressbar" :data-step="step">
                <div class="wp-popup__progressbar--label">Select template</div>
                <div class="wp-popup__progressbar--label">Edit template</div>
                <div class="wp-popup__progressbar--label">Overlay settings</div>
                <div class="wp-popup__progressbar--label">Done!</div>
                <div class="wp-popup__progressbar__line">
                    <div class="wp-popup__progressbar__line_point">
                        <div class="wp-popup__progressbar__line_point--circle"></div>
                    </div>
                    <div class="wp-popup__progressbar__line_point">
                        <div class="wp-popup__progressbar__line_point--circle"></div>
                    </div>
                    <div class="wp-popup__progressbar__line_point">
                        <div class="wp-popup__progressbar__line_point--circle"></div>
                    </div>
                    <div class="wp-popup__progressbar__line_point">
                        <div class="wp-popup__progressbar__line_point--circle"></div>
                    </div>
                    <div class="wp-popup__progressbar__line--filled"></div>
                </div>
            </div>
        </div>
        <div class="wp-popup__overlay-name" v-if="step === 0 || step === 1">
            <div class="wp-popup__overlay-name--name">Overlay’s name</div>
            <input type="text" placeholder="Overlay’s name" ref="overlayName" v-model="overlayName" :class="{'wp-popup__input-error': overlayNameError && !overlayName}">
            <div class="wp-popup__overlay-name--info">create a name in 70 characters, by default the name will be created with the date and time</div>
        </div>
        <h3 class="wp-popup__subtitle">
            <span v-if="step === 0">Choice template</span>
            <span v-if="step === 1">Select template</span>
            <span v-if="step === 2 || step === 3">Edit overlay template</span>
            <span v-if="step === 5">Preview overlay</span>
        </h3>
        <div class="wp-popup__annotataion">
            <span v-if="step < 2">Choose any pop-up template for further editing</span>
            <span v-if="step === 2 || step === 3">Click text on banner and change content and color (if you need)</span>
            <span v-if="step === 5">You can always change the design, content and settings created by the overlay</span>
        </div>
        <div class="wp-popup__content wp-popup__overlay-create" v-if="step === 0 || step === 1" :class="{'wp-popup__content--error': selectOverlayError}">
            <div class="wp-popup__overlays-list">
                <div class="wp-popup__overlays-list__col" v-for="overlay in overlays">
                    <div class="wp-popup__overlays-list__item" v-for="item in overlay" @click="selectOverlay(item)" :class="{selected: item === selectedOverlay}">
                        <div class="wp-popup__overlays-list__item--resolution">{{item.size}} #{{item.id}}</div>
                        <div class="wp-popup__overlays-list__item--image">
                            <img :src="item.preview" alt="">
                            <div class="wp-popup__overlays-list__item--selected" v-if="item === selectedOverlay">
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="11" viewBox="0 0 14 11">
                                    <path fill="#FFF" fill-rule="evenodd" d="M14 2.2L5.386 11l-.002-.001V11L0 5.5l2.153-2.2 3.231 3.3L11.847 0z" />
                                </svg>Selected
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wp-popup__content wp-popup__overlay-edit" v-if="step === 2 || step === 3 || step === 5" 
        :class="{'wp-popup__content--error': overlayContentError}">
            <div class="wp-popup__overlay-edit__desktop">
                <div class="wp-popup__overlay-edit__desktop--resolution">1200_600_desktop ver.</div>
                <div class="wp-popup__overlay-edit__desktop--image">
                    <img :src="selectedOverlay.img" alt="">
                    <div class="wp-popup__overlay-edit__desktop_text wp-popup__overlay-edit__desktop_text--1" @click.stop="changeText('text1')" :class="{'filled': overlayText.text1 || step === 5, 'inactive': step === 5}">
                        <input type="text" v-model="overlayText.text1" ref="text1">
                        <div class="wp-popup__overlay-edit__desktop_text--field" v-html="overlayText.text1"></div>
                    </div>
                    <div class="wp-popup__overlay-edit__desktop_text wp-popup__overlay-edit__desktop_text--2" @click.stop="changeText('text2')" :class="{'filled': overlayText.text2 || step === 5, 'inactive': step === 5}">
                        <input type="text" v-model="overlayText.text2" ref="text2">
                        <div class="wp-popup__overlay-edit__desktop_text--field" v-html="overlayText.text2"></div>
                    </div>
                    <div class="wp-popup__overlay-edit__desktop_text wp-popup__overlay-edit__desktop_text--3" @click.stop="changeText('text3')" :class="{'filled': overlayText.text3 || step === 5, 'inactive': step === 5}">
                        <input type="text" v-model="overlayText.text3" ref="text3">
                        <div class="wp-popup__overlay-edit__desktop_text--field" v-html="overlayText.text3"></div>
                    </div>
                    <div class="wp-popup__overlay-edit__desktop_text wp-popup__overlay-edit__desktop_text--4" @click.stop="changeText('text4')" :class="{'filled': overlayText.text4 || step === 5, 'inactive': step === 5}">
                        <input type="text" v-model="overlayText.text4" ref="text4">
                        <div class="wp-popup__overlay-edit__desktop_text--field" v-html="overlayText.text4"></div>
                    </div>
                </div>
            </div>
            <div class="wp-popup__overlay-edit__mobile">
                <div class="wp-popup__overlay-edit__desktop--resolution">1200_600_mobile ver.</div>
                <div class="wp-popup__overlay-edit__mobile--image">
                    <img :src="selectedOverlay.img" alt="">
                    <div class="wp-popup__overlay-edit__mobile_text wp-popup__overlay-edit__mobile_text--1 filled inactive">
                        <div class="wp-popup__overlay-edit__mobile_text--field" v-html="overlayText.text1"></div>
                    </div>
                    <div class="wp-popup__overlay-edit__mobile_text wp-popup__overlay-edit__mobile_text--2 filled inactive">
                        <div class="wp-popup__overlay-edit__mobile_text--field" v-html="overlayText.text2"></div>
                    </div>
                    <div class="wp-popup__overlay-edit__mobile_text wp-popup__overlay-edit__mobile_text--3 filled inactive">
                        <div class="wp-popup__overlay-edit__mobile_text--field" v-html="overlayText.text3"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wp-popup__overlay-settings" v-if="step === 4">
            <div class="wp-popup__overlay-settings_section">Enable auto overlay</div>
            <div class="wp-popup__overlay-settings_content">
                <div class="wp-popup__overlay-settings_content--col">
                    <label class="wp-popup__checkbox">
                        <input type="checkbox">
                        <div class="wp-popup__checkbox--icon"></div>
                        <div class="wp-popup__checkbox--text">Show now</div>
                    </label>
                    <div class="wp-popup__overlay-settings_content--annotation">
                        Overlay is shown immediately after the page or post is loaded
                    </div>
                </div>
                <div class="wp-popup__overlay-settings_content--col">
                    <label class="wp-popup__checkbox wp-popup__checkbox--offset">
                        <input type="checkbox">
                        <div class="wp-popup__checkbox--icon"></div>
                        <div class="wp-popup__checkbox--text">Delay (seconds):</div>
                    </label>
                    <div class="wp-popup__number-input" v-number>
                        <input type="text" maxlength="5" init-value="1" max-value="100">
                    </div>
                </div>
                <div class="wp-popup__overlay-settings_content--col">
                    <label class="wp-popup__checkbox wp-popup__checkbox--offset">
                        <input type="checkbox">
                        <div class="wp-popup__checkbox--icon"></div>
                        <div class="wp-popup__checkbox--text">Show after scroll(%):</div>
                    </label>
                    <div class="wp-popup__number-input" v-number>
                        <input type="text" maxlength="5" init-value="20" max-value="100" prefix="%">
                    </div>
                    <div class="wp-popup__overlay-settings_content--annotation">Percentage in percent to scroll the selected page</div>
                </div>
            </div>
            <div class="wp-popup__overlay-settings_section">Schedule <i>Enter time&data to automatically start and stop overlay work</i></div>
            <div class="wp-popup__overlay-settings_content">
                <div class="wp-popup__overlay-settings_content--col">
                    <label class="wp-popup__checkbox">
                        <input type="checkbox">
                        <div class="wp-popup__checkbox--icon"></div>
                        <div class="wp-popup__checkbox--text">Start</div>
                    </label>
                    <input type="text" placeholder="dd mm yyyy" class="wp-popup__input">
                </div>
                <div class="wp-popup__overlay-settings_content--col">
                    <label class="wp-popup__checkbox">
                        <input type="checkbox">
                        <div class="wp-popup__checkbox--icon"></div>
                        <div class="wp-popup__checkbox--text">Stop</div>
                    </label>
                    <input type="text" placeholder="dd mm yyyy" class="wp-popup__input">
                </div>
            </div>
            <div class="wp-popup__overlay-settings_section">
                Smart filter <i>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</i>
            </div>


            <div class="wp-popup__overlay-settings_content">
                <form class="wp-popup__smart-filter" @submit.prevent="addRule()">
                    <div class="wp-popup__dropdown" v-dropdown="ruleModel.subject">
                         <div class="wp-popup__dropdown--label">Subject</div>
                         <div class="wp-popup__dropdown__value">{{ruleModel.subject}}</div>
                         <div class="wp-popup__dropdown__list">
                             <div class="wp-popup__dropdown__list--item" v-for="subj in subjects" :data-id="subj">{{subj}}</div>
                         </div>
                    </div>
                    <div class="wp-popup__dropdown" v-dropdown="ruleModel.condition">
                        <div class="wp-popup__dropdown--label">Condition</div>
                        <div class="wp-popup__dropdown__value">{{ruleModel.condition}}</div>
                        <div class="wp-popup__dropdown__list">
                            <div class="wp-popup__dropdown__list--item" v-for="condition in conditions" :data-id="condition">{{condition}}</div>
                        </div>
                    </div>
                    <div class="wp-popup__smart-filter__content">
                        <div class="wp-popup__smart-filter__content--title">Сontent</div>
                        <input type="text" required v-model="ruleModel.content">
                        <div class="wp-popup__smart-filter__content--annotation">Separate each word or combination of words with a comma</div>
                    </div>
                    <button class="wp-popup__btn wp-popup__btn--blue" type="submit">Add rule</button>
                </form>

                <div class="wp-popup__table--title">Added rules for this overlay</div>
                <div class="wp-popup__table wp-popup__table_col--6">
                    <div class="wp-popup__table_head">
                        <div class="wp-popup__table_head--row">
                            <div class="wp-popup__table_head--col"></div>
                            <div class="wp-popup__table_head--col">Subject</div>
                            <div class="wp-popup__table_head--col">Сondition</div>
                            <div class="wp-popup__table_head--col">Сontent</div>
                            <div class="wp-popup__table_head--col">Amount</div>
                            <div class="wp-popup__table_head--col" @click="clearAllRules()">Clear all</div>
                        </div>
                    </div>
                    <div class="wp-popup__table_body">
                        <div class="wp-popup__table_body">
                            <div class="wp-popup__table_body--row" v-for="(rule, index) in rules">
                                <div class="wp-popup__table_body--col">
                                    {{rule.title}}
                                </div>
                                <div class="wp-popup__table_body--col">
                                    {{rule.subject}}
                                </div>
                                <div class="wp-popup__table_body--col">
                                    {{rule.condition}}
                                </div>
                                <div class="wp-popup__table_body--col">
                                    {{rule.content}}
                                </div>
                                <div class="wp-popup__table_body--col">
                                    {{rule.amount}}
                                </div>
                                <div class="wp-popup__table_body--col">
                                    <a href="" @click.prevent="removeRule(rule, index)" class="wp-popup__link wp-popup__link--grey wp-popup__link--underline">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--         <div class="wp-popup__content" v-if="step === 5">
            <div class="wp-popup__overlays-list">
                DONE
            </div>
        </div> -->
        <div class="wp-popup__buttons">
            <button class="wp-popup__btn wp-popup__btn--back" @click="back()" v-if="step > 0">Back</button>
            <button class="wp-popup__btn" @click="nextStep()" v-if="step === 0 || step === 1" :class="{'wp-popup__btn--grey': !selectedOverlay || !overlayName, 'wp-popup__btn--blue': selectedOverlay && overlayName}">
                Next step
            </button>
            <button class="wp-popup__btn" @click="nextStep()" v-if="step === 2 || step === 3" :class="{'wp-popup__btn--grey': !overlayTextFilled, 'wp-popup__btn--blue': overlayTextFilled}">
                Next step
            </button>
            <button class="wp-popup__btn" @click="nextStep()" v-if="step === 4" :class="{'wp-popup__btn--grey': false, 'wp-popup__btn--blue': true}">
                Next step
            </button>
            <a href="my_overlays.html">
                <button class="wp-popup__btn wp-popup__btn--blue" @click="done()" v-if="step === 5">Done</button>
            </a>
        </div>
    </div>

    <script>
    var OVERLAY_DATA = [
        [
            { size: '1000*500', id: 1, preview: 'img/overlay-preview-1.jpg', img: 'img/overlay-1.jpg' }, 
            { size: '1000*500', id: 2, preview: 'img/overlay-preview-2.jpg', img: 'img/overlay-2.jpg'}
        ],
        [
            { size: '960*400', id: 1, preview: 'img/overlay-preview-3.jpg', img: 'img/overlay-3.jpg'}, 
            { size: '960*400', id: 2, preview: 'img/overlay-preview-4.jpg', img: 'img/overlay-4.jpg'}
        ],
        [
            { size: '1120*600', id: 1, preview: 'img/overlay-preview-5.jpg', img: 'img/overlay-5.jpg'}, 
            { size: '1120*600', id: 2, preview: 'img/overlay-preview-6.jpg', img: 'img/overlay-6.jpg'}
        ],
    ];


    var RULES_DATA = [
        { title: 'Rule #1', subject: 'Page', condition: 'exact much', content: 'http://example.com/corgi', amount: 'displayed on 2 page/post' },
        { title: 'Rule #2', subject: 'Category', condition: 'contains', content: 'http://example.com/corgi', amount: 'displayed on 2444 page/post' },
        { title: 'Rule #3', subject: 'Tag', condition: 'does not contain', content: 'http://example.com/corgi', amount: 'displayed on 335 page/post' }
    ];

    var SUBJECT_DATA = ["Page", "Category", "Tag"];
    var CONDITION_DATA = ["exact much", "contains", "does not contain"];
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="https://cloud.tinymce.com/5/tinymce.min.js"></script>
    <script src="src/overlay.js"></script>
</body>

</html>